.konsole-terminal {
  display: grid;
  grid-template-rows: auto 30px;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.konsole-terminal-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.konsole-input {
  width: calc(100% - 150px);

  background-color: var(--bb-theme-backgroundprimary);
  color: var(--bb-theme-primarylight);

  border: none;
  outline: 0px;
}

.konsole-suggestion-tooltip {
  position: absolute;
  background: var(--bb-theme-backgroundprimary);
  padding: 0.5em;
  border: 1px solid var(--bb-theme-welllight);
  top: 0;
  transform: translateY(calc(-100% - 5px));
}

.konsole-input-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--bb-theme-primarylight);
  margin-bottom: 0.5em;
}