.server-entry {
  min-width: fit-content;
  border: 1px solid var(--bb-theme-welllight);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.server-entry-button-wrapper {
  display: flex;
  gap: 0.5em;
}

.server-entry-button {
  cursor: pointer;

  user-select: none;

  border: 1px solid var(--bb-theme-welllight);
  background-color: var(--bb-theme-backgroundprimary);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-inline: 0.5em;
  height: 1.5em;
}

.server-entry-button:hover {
  filter: brightness(150%);
}
