.plasma-file-tile {
  display: flex;
  align-items: center;
  gap: 0.5em;

  height: 50px;

  padding: 0.5em;
  background-color: var(--backgroundprimary);

  user-select: none;
  font-size: 0.85em;
}


.plasma-file-tile:hover {
  filter: brightness(150%);
}

.plasma-file-tile>svg {
  font-size: 2.5em;
}