.taskbar {
  background-color: var(--backgroundprimary);
  border-block: 1px solid var(--welllight);
  height: 45px;
  display: flex;
  position: relative;
  z-index: 1;
}

.taskbar>* {
  height: 43px;
}

.taskbar-windows {
  width: -webkit-fill-available;
  display: flex;
}

.taskbar-windows>* {
  height: 100%;
}

.taskbar-homebutton {
  width: 45px;
  flex-shrink: 0;
}

.homemenu {
  position: absolute;
  left: 0;
  bottom: 43px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundprimary);
}

.homemenu>* {
  padding: 5px;
  width: 100%;
  gap: 1em;
  display: grid;
  grid-template-columns: 30px auto;
}

.homemenu svg{
  font-size: 1.5em;
}

.taskbar-date {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: fit-content;
  justify-self: right;
  padding-inline: 10px;
}

.taskbar-entry {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5px;
}

.taskbar-entry-focus{
  background-color: var(--well);
}

.taskbar-entry-focus:hover{
  filter: brightness(1.5);
}
