.dolphin-bread-crumbs {
  display: flex;
  align-items: center;
}

.dolphin-bread-crumb-clickable{
  display: inline;
}

.dolphin-bread-crumb-clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}