.server-manager {
    display: flex;
    flex-direction: column;
}

.server-manager > div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.server-manager * {
    color: var(--bb-theme-primary);
    background-color: var(--bb-theme-background);
}

.server-manager input, .server-manager button {
    border: 1px solid currentColor;
}

.server-manager-entries {
    display: flex;
    border-top: 1px solid currentColor;
}

.server-manager-entries > div {
    box-sizing: border-box;

    border-left: 1px solid currentColor;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;

    display: flex;
    flex-direction: column;
    max-width: 50%;

    padding: 0.5em;

    gap: 0.5em;
}

.server-manager-entries > div > div:nth-child(3) {
    display: flex;
    gap: 0.5em;
}
